'context-menu':
  'atom-text-editor': [
    {
      'label': 'Tabs to spaces'
      'submenu': [
        { label: 'Tabify', command: 'tabs-to-spaces:tabify' }
        { label: 'Untabify', command: 'tabs-to-spaces:untabify' }
        { label: 'Untabify All', command: 'tabs-to-spaces:untabify-all' }
      ]
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tabs to Spaces'
      'submenu': [
        { 'label': 'Tabify', 'command': 'tabs-to-spaces:tabify' }
        { 'label': 'Untabify', 'command': 'tabs-to-spaces:untabify' }
        { 'label': 'Untabify All', 'command': 'tabs-to-spaces:untabify-all' }
      ]
    ]
  }
]
